body{
font-family: Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 1.5vw;
}

#logo{margin: 0px;
padding: 8px;
font-family: "Fredoka One", sans-serif;
box-shadow: 8px 8px 10px 3px darkblue;
width: 16%;
}

ul{margin: 0px;}



body > header {
    background-color: skyblue;
    color: black;
    display: flex;
    height: 19vh;
    align-items: center;
    justify-content: space-between;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none; 
    text-decoration: none;
}

body > header > nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2{
    text-align: center;
}

body > footer {
    background-color: orange;
    display: flex;
}

img{
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

#colour {
    color: red;
}
#colour1 {color: orange;}
#colour2 {color: yellow;}
#colour3 {color: rgb(12, 227, 12);}
#colour4 {color: aqua;}
#colour5 {color: indigo;}
#colour6 {color: violet;}

#image1 {style="width: 20;"}